### Numeric and String Literals

In [ ]:
# this is a full line comment

In [ ]:
12            # this is a partial line comment

In [ ]:
3.141592654   # this is a float number

In [ ]:
10.0          # this is a float number, too

In [ ]:
10            # this is an integer

In [ ]:
"this is a string"

In [ ]:
'this is a string too'

In [ ]:
'"Hey"'

In [ ]:
"'hi'"

In [ ]:
'"hello", said Elmo.'

In [ ]:
''greetings', said Bart'     # what's wrong?

In [ ]:
'"greetings", said Bart'

In [ ]:
'\'greetings\', said Bart'

In [ ]:
"this\nis\ta\message."

### Assigning Data To Variables

In [ ]:
pi = 3.14159

In [ ]:
pi

In [ ]:
rate = 3.5%
rate

In [ ]:
rate = 3.5
rate

In [ ]:
msg = "Sue's first day"
msg

In [ ]:
msg = 99.99
msg

In [4]:
first_name = "Cookie"
first_name
last_name = "Monster"
last_name

'Monster'

### Print Statements

In [ ]:
# Double quotes delimit the literal but are not printed
print("Hello, world")

In [ ]:
print('Hello, world')        # the single quotes are also not printed

In [ ]:
print("O'Reilly")
print('Macy"s')

In [ ]:
print("Sue's boss said, \"Great!\"")

In [ ]:
print("What\ta\nbeautiful\nday!")

In [ ]:
print("This \nis\nmultiple lines\n\twith\ttabs.")

In [ ]:
print("""This
is
multiple lines
    without tabs. """)

In [ ]:
print("Hello,","world")   # you can pass multiple arguments

In [ ]:
print(123)                # you can pass a number

In [5]:
print(first_name)     # you can use variables as arguments      
print(last_name)      # where did first_name and last_name values come from?

Cookie
Monster

In [6]:
print(first_name, last_name)  # a space is inserted when arguments are separated by a comma

Cookie Monster

In [7]:
first_name = "Big"                              # change value of first_name
last_name = "Bird"                              # change value of last_name
print(first_name, last_name)
print()                                         # print() with no argument displays a blank line
print(first_name + last_name)

Big Bird

BigBird

In [8]:
print(first_name, "has", rate, "% rate.")

NameError: name 'rate' is not defined

### Formatting with f-strings

In [ ]:
print("The main character is {first_name} {last_name}.")

In [9]:
print(f"The main character is {first_name} {last_name}.")

The main character is Big Bird.

In [ ]:
unit_price = 99.99
qty = 53
print(f"Subtotal: ${unit_price * qty}")

In [ ]:
print(f"Subtotal: ${unit_price * qty :,}")  # commas in thousands place

In [ ]:
print(f"Subtotal: ${unit_price * qty :.2f}") #2 digits after the decimal point

In [ ]:
print(f"Subtotal: ${unit_price * qty :,.2f}") #in dollar amount format

In [ ]:
rate = 0.03255    # morgage rate 3.255%
print(f"Current rate: {rate:.2%}")

In [ ]:
print(f"Current rate: {rate:.9%}")

### Arithmetic Operators

In [ ]:
123 + 4.9

In [ ]:
2**3

In [ ]:
19 % 5

In [ ]:
19 // 5

### String operators

In [ ]:
"secrete" + "message"           # concatenate strings with the plus sign

In [ ]:
check = "message"
"secrete" + check

In [ ]:
full_name = first_name + last_name
print(full_name)

In [ ]:
"secrete" * 3

In [ ]:
check * 3

### Comparison Operators

In [ ]:
a = 5
b = 5
a == b

In [ ]:
a != b

In [ ]:
a < b

In [ ]:
check == "message"

In [ ]:
check != "message"

In [ ]:
check < "mess"

### Boolean

In [ ]:
True and True

In [ ]:
True or False

In [ ]:
a = True
b = True
print((123 == 123) and b)

In [ ]:
xpos = 100
ypos = 200
max = 300
xpos < max

In [ ]:
ypos < max

In [ ]:
(xpos < max) and (xpos < ypos)

In [ ]:
(xpos < max) and (ypos < xpos)

In [ ]:
(xpos < max) or (ypos < xpos)